.kHelper,
.kHelpers {
			display:none;
			}
  
            .chordKey span {
            	position:absolute;
            	left:110px;
            	color:#333;
            	font-size:18px !important;
            	font-weight:600 !important;
            }
            
            .chordKeyx span {
            	position:absolute;
            	left:-40px;
            	color:#333;
            	font-size:18px !important;
            	font-weight:600 !important;
            }